# Config

In [1]:
experiment = "A.indica"
input_genome_name = "GCA_022749755.1_ASM2274975v1_genomic.fna"

experiment_dir = "./Experiment"

In [2]:
input_genome_path = f'{experiment_dir}/{experiment}/{input_genome_name}'

temp_path = f"{experiment_dir}/{experiment}/Temp"
result_path = f"{experiment_dir}/{experiment}/Result"

temp_path_f = temp_path.replace(" ", "\ ")
result_path_f = result_path.replace(" ", "\ ")

In [3]:
classifier_threshold = 0.95

# Common

In [4]:
#!pip install tqdm

In [5]:
import json
import time
import pickle
from subprocess import Popen, PIPE, STDOUT
import math
import numpy as np
import pandas as pd
import hashlib
import requests
import os, sys, subprocess
from tqdm.contrib.concurrent import process_map
from tqdm.notebook import tqdm
tqdm.pandas()
import multiprocessing as mp
import shutil
import urllib.parse
import glob
import os
import sys
import networkx
from networkx.algorithms.clique import find_cliques as maximal_cliques
from ast import literal_eval
from keras.models import load_model
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
sys.path.append("./src/")
from ct_analizer import get_row
from filter import filter_run
from postprocess import postprocess
from convertor import convert
from preprocessing import get_target, preprocessing

In [6]:
if(not os.path.exists(temp_path)):
    os.mkdir(temp_path)
    
if(not os.path.exists(result_path)):
    os.mkdir(result_path)

In [7]:
current_path = os.getcwd()

In [8]:
def bracket_row(row):    
    s = row['data']
    index = min(s.find('.'), s.find('('))
    data = row['data']
    row['data'] = data[0:index]
    row['bracket'] = data[index:]
    return row

In [9]:
def adjust(text,n=7):
    text = str(text)    
    return " " * (n - len(text)) + text

In [10]:
def bracket_to_ct(tag, data, bracket, deltaG, negative_deltaG=True):    
    deltaG = deltaG.replace('(','').replace(')','')
    deltaG = float(deltaG)
    if(deltaG > 0 and negative_deltaG ): # negetive?!
        deltaG = -1 * deltaG
    stack = []
    index = np.zeros((len(bracket)), dtype = int)
    values = np.zeros((len(bracket)), dtype = int)
    for i in range(len(bracket)):
        index[i] = i + 1
        if(bracket[i] == '.'):
            values[i] = 0
        elif(bracket[i] == '('):
            stack.append(i)
        elif(bracket[i] == ')'):
            if(len(stack) == 0 ):
                print('structure error!')
            values[stack[-1]] = i + 1
            values[i]  = stack[-1] + 1
            stack.pop()
        else:
            print('structure error!')
    if(len(stack) != 0 ):
        print('structure error!')
    # body    
    ct = f"{adjust(len(data),6)} dG ={adjust(deltaG,10)} {tag}\n"   
    for i in range(len(bracket)):
        ct += f"{adjust(index[i],6)} {data[i]} {adjust(i,6)} {adjust((i+2)%(len(data)+1),6)} {adjust(values[i],6)} {adjust(index[i],7)}\n"
    return ct

In [11]:
def fasta_to_df(path):
    with open(path, 'r') as file:
        text = file.read()
    lines = [line for line in text.split('\n') if len(line) > 0]
    s = ''
    tags = []
    data = []
    for l in lines:
        if(l[0]=='>'):
            tags.append(l)        
            data.append(s)
            s = ''
        else:
            s += l    
    data.append(s)
    df = pd.DataFrame(
            {
                'tag': tags,
                'data': data[1:]
            })
    df['tag'] = df['tag'].apply(lambda x: x[1:])    
    return df

In [12]:
def df_to_fasta(df, path):
    lines = []
    df.apply(lambda row: lines.append(f">{row['tag']}\n{row['data']}\n"),axis=1)
    with open(path,'w') as file:
        file.write(''.join(lines))

In [13]:
def reformat(path):
    return path.replace('(','_').replace(')','_').replace('.','').replace(':','_')

In [14]:
def reformatCT(path):
    with open(path, 'r') as file:
        text = file.read()
    text = [l for l in text.split('\n') if len(l) > 0 ] # remove blank lines
    text = '\n'.join(text)
    text = text.replace("\t"," ")
    while("  " in text):
        text = text.replace("  ", " ")
    lines = [l for l in text.split('\n')]
    for i in range(len(lines)):
        if(lines[i][0] == " "):
            lines[i] = lines[i][1:]
        if(lines[i][-1] == " "):
            lines[i] = lines[i][:-1]
    text = '\n'.join(lines)
    return text

In [15]:
def get_ct_data(ct):
    ct = "\n".join(ct.split('\n')[1:])
    df = pd.read_csv(StringIO(ct), sep=" ", header=None)               
    nucleotide = df.iloc[:,1]
    index = df.iloc[:,5]
    values = df.iloc[:,4]
    return [nucleotide, index, values]

In [16]:
def ct2dot_bracket(path):
    [nucleotide, index, values] = get_ct_data(reformatCT(path))
    text = ''.join(nucleotide) + "\n"
    watch = []
    for i, v in zip(index,values):
        if(v == 0):
            text += '.'
        else:
            if( v not in watch):
                text += '('
                watch.append(i)
            if( v in watch):
                text += ')'
    return text

In [17]:
def is_nested(index, values):
    max_value = max(index) + 10 # inf
    for i, v in zip(index, values):
        if(v < max_value and v != 0):
            max_value  = v
        if(i >= max_value):
            max_value = max(index) + 10 # inf
        if(v > max_value):
            return False               
    return True

# Download data from Mirbase

In [18]:
directory = './miRBase'
base = "https://www.mirbase.org/ftp/CURRENT"

In [19]:
mature = fasta_to_df(f'{directory}/mature.fa')
mature_high_conf = fasta_to_df(f'{directory}/mature_high_conf.fa')
mature['trim tag'] = mature['tag'].apply(lambda line: ' '.join(line.split(' ')[:2]))
mature['confidence'] = mature['trim tag'].isin(mature_high_conf['tag'])

In [20]:
mature['organism'] = mature['tag'].apply(lambda x: x[:3])
print(mature.shape)
mature.head(2)

(48885, 5)

,tag,data,trim tag,confidence,organism
0,cel-let-7-5p MIMAT0000001 Caenorhabditis elega...,UGAGGUAGUAGGUUGUAUAGUU,cel-let-7-5p MIMAT0000001,True,cel
1,cel-let-7-3p MIMAT0015091 Caenorhabditis elega...,CUAUGCAAUUUUCUACCUUACC,cel-let-7-3p MIMAT0015091,True,cel

In [21]:
organism = pd.read_csv(f'./{directory}/organisms.txt',sep='\t')
organism.columns = [c.replace('#','') for c in organism.columns] # remove sharp from columns
print(organism.shape)
organism.head(2)

(285, 5)

  organism division                      name               tree  NCBI-taxid
0      aqu      AQU  Amphimedon queenslandica  Metazoa;Porifera;      400682
1      nve      NVE    Nematostella vectensis  Metazoa;Cnidaria;       45351

In [22]:
items = list(organism['tree'].unique())
items.sort(key=len)
items

['Viruses;',
 'Mycetozoa;',
 'Alveolata;',
 'Metazoa;Porifera;',
 'Metazoa;Cnidaria;',
 'Viridiplantae;Chlorophyta;',
 'Viridiplantae;Embryophyta;',
 'Viridiplantae;Coniferophyta;',
 'Viridiplantae;Magnoliophyta;',
 'Metazoa;Bilateria;Deuterostoma;',
 'Chromalveolata;Heterokontophyta;',
 'Metazoa;Bilateria;Ecdysozoa;Nematoda;',
 'Metazoa;Bilateria;Lophotrochozoa;Annelida;',
 'Metazoa;Bilateria;Lophotrochozoa;Nemertea;',
 'Metazoa;Bilateria;Lophotrochozoa;Mollusca;',
 'Viridiplantae;Magnoliophyta;monocotyledons;',
 'Metazoa;Bilateria;Deuterostoma;Hemichordata;',
 'Metazoa;Bilateria;Deuterostoma;Echinodermata;',
 'Metazoa;Bilateria;Lophotrochozoa;Brachiopoda;',
 'Metazoa;Bilateria;Ecdysozoa;Arthropoda;Hexapoda;',
 'Metazoa;Bilateria;Ecdysozoa;Arthropoda;Crustacea;',
 'Metazoa;Bilateria;Lophotrochozoa;Platyhelminthes;',
 'Metazoa;Bilateria;Ecdysozoa;Arthropoda;Chelicerata;',
 'Metazoa;Bilateria;Ecdysozoa;Arthropoda;Mandibulata;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Poaceae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Urochordata;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Fabaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Vitaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Rosaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Rutaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Lamiales;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Linaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Malvaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Myrtaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Caricaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Salicaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Solanaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Asteraceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Araliaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Paeoniaceae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Cephalochordata;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Aves;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Brassicaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Papaveraceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Ranunculaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Euphorbiaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Cucurbitaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Amaranthaceae;',
 'Viridiplantae;Magnoliophyta;eudicotyledons;Rhizophoraceae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Sauria;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Amphibia;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Teleostei;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Gnathostomata;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Suina;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Agnathostomata;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Rodentia;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Carnivora;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Cingulata;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Metatheria;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Ruminantia;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Lagomorpha;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Scandentia;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Afrotheria;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Prototheria;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Laurasiatheria;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Cebidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Atelidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Hominidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Lemuridae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Galagidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Hylobatidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Cheirogaleidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Daubentoniidae;',
 'Metazoa;Bilateria;Deuterostoma;Chordata;Vertebrata;Mammalia;Primates;Cercopithecidae;']

In [23]:
selectedTree = organism[organism['tree'].apply(lambda x: "Viridiplantae;" in x)]
print(selectedTree.shape)
selectedTree.head(5)

(86, 5)

,organism,division,name,tree,NCBI-taxid
66,cre,CRE,Chlamydomonas reinhardtii,Viridiplantae;Chlorophyta;,3055
67,pta,PTA,Pinus taeda,Viridiplantae;Coniferophyta;,3352
68,ppt,PPT,Physcomitrella patens,Viridiplantae;Embryophyta;,3218
69,smo,SMO,Selaginella moellendorffii,Viridiplantae;Embryophyta;,88036
70,ath,ATH,Arabidopsis thaliana,Viridiplantae;Magnoliophyta;eudicotyledons;Bra...,3702

In [25]:
selectedTree

,organism,division,name,tree,NCBI-taxid
66,cre,CRE,Chlamydomonas reinhardtii,Viridiplantae;Chlorophyta;,3055
67,pta,PTA,Pinus taeda,Viridiplantae;Coniferophyta;,3352
68,ppt,PPT,Physcomitrella patens,Viridiplantae;Embryophyta;,3218
69,smo,SMO,Selaginella moellendorffii,Viridiplantae;Embryophyta;,88036
70,ath,ATH,Arabidopsis thaliana,Viridiplantae;Magnoliophyta;eudicotyledons;Bra...,3702
...,...,...,...,...,...
262,cas,CAS,Camelina sativa,Viridiplantae;Magnoliophyta;eudicotyledons;Bra...,90675
264,pla,PLA,Paeonia lactiflora,Viridiplantae;Magnoliophyta;eudicotyledons;Pae...,35924
267,mpo,MPO,Marchantia polymorpha,Viridiplantae;Embryophyta;,3197
274,smi,SMI,Salvia miltiorrhiza,Viridiplantae;Magnoliophyta;eudicotyledons;Lam...,226208
282,aof,AOF,Asparagus officinalis,Viridiplantae;Magnoliophyta;monocotyledons;,4686

In [35]:
with open("./miRBase/miRNA.str", "r") as file: 
    text = file.read()

In [86]:
lines = text.split("\n")
lines = [l for l in lines if len(l) > 0]
lines = [l for l in lines if l[0] == ">"]
lines = [l[1:4] for l in lines]
data = pd.Series(lines)
#data.value_counts().to_csv("./test.csv")
data = data[data.isin(selectedTree["organism"])]
data = data.value_counts()
data.to_csv("./viridi.csv")

In [87]:
df = pd.DataFrame(data, columns=["count"])
df['organism'] = df.index
df = pd.merge( selectedTree , df, how="inner", on="organism")
df.head()
df.to_csv('viridi-complete.csv')